<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Alper-Enes-DURU">Alper Enes DURU</a>. He decided to develop his skills and started to study in web development. His curiosity and determination helped him to be successful.
  </p>
  <br />
  <p>
    Right now he is a College student and very eager to learn new things. He doesn't work professionally yet, but is open to job offers. Splurty is his first professional project. Enjoy!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'alper.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alper Enes DURU</h2>
      <br />
      <p>
        Hi guys! I'm going to College right now, and I'm studying Computer Science. My interest in programming started when I was in high school. I was trying to make fun games and animations. I enjoy learning new things, and I am happy when I turn what I learned into a result. Now, I am studying at web development!!!
      </p>
    </div>
  </div>

  <br class="clear" />

</div>

<br />
<br />
<br />
<br />